Repository lightsheet-team/lightsheet, pull requests merged in 2024-03, with the labels that each got.

#79 Single cell selection and CSS refactoring
  src/core/structure/sheet.ts
  src/main.types.ts
  src/ui/render.ts
  src/ui/render.types.ts
  src/ui/ui.css
Labels: ui

#83 Use styling map instead of individual properties in CellStyle
  src/core/cloneable.ts
  src/core/structure/cellStyle.ts
  src/core/structure/sheet.ts
  tests/core/structure/cellStyle.test.ts
  tests/core/structure/sheet.test.ts
Labels: core, ui

#84 Implement row operations
  src/core/structure/sheet.ts
  tests/core/structure/moveRow.test.ts
Labels: core

#85 Event system integration
  index.js
  src/core/event/events.ts
  src/core/event/events.types.ts
  src/core/structure/sheet.ts
  src/main.ts
  src/main.types.ts
  src/ui/render.ts
  tests/core/event/event.test.ts
Labels: core, ui
